@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --shadow: hsla(218, 44%, 22%, 0.09);
}

body {
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    min-height: 100vh;
    display: grid;
}

.card {
    height: 497px;
    width: 320px;
    background-color: var(--white);
    place-self: center;
    border-radius: 20px;
    box-shadow: 1px 5px 25px 4px var(--shadow);
}

.card img {
    width: 288px;
    height: 288px;
    margin: 16px;
    border-radius: 10px;
}

.card .content {
    padding: 0px 22px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: var(--dark-blue);
}

.card .content p {
    margin: 22px;
    font-size: 15px;
    font-weight: normal;
    color: var(--grayish-blue);
}